.main-container {
  background-color: #eef7ff;
  min-height: 100vh;
  padding: 1rem;
}

@media (min-width: 640px) {
  .main-container {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .main-container {
    padding: 2rem;
  }
}